$bg: #f6f6f6;
$bg2: #f0f1f3;
$divBg: #ffffff;

$fontColor: #1a17a6;
$linkColor: #5f38a8;

$errColor: red;

$divBorderColor: #5f38a8;

$walletBtnBg: #ffffff;
$walletBtnColor: #5f38a8;
$walletBtnOutline: rgba(62, 112, 231, 0.5);

$inputBorder: #5f38a8;

$btnBg: #ffffff;
$btnBg2: #5f38a8;
$btnFontColor: #ffffff;
$btnBoxShadow: rgba(255, 255, 255, 0.2);

$btnBoxShadow-sushi: rgb(226, 214, 207);
$btnBoxShadow-sushi-2: rgb(247, 244, 242);

$titColor: #1a17a6;
$txtColor: #aa9585;
$notesColor: #9492c4;

$tableSeparationColor: #222946;
