@import "./colors.scss";
@import "./fonts.scss";

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: $bg !important;
}
#app {
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $fontColor;
}

/* container width set 1280px */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.row {
  max-width: 1080px;
  margin: 0 auto !important;
}
